.body {
    background-color: #181a1b;
}

.menü {
    background-color: #142a9a;
    box-shadow: 2px 2px #161819;
    border-radius: 13px;
    position: fixed;
    width: 260px;
    font-family: "Roboto", sans-serif;
    color: white;
    height: 600px;
}



.menüİmg {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    align-self: center;
}

.menüLink {
    color: white;
    text-decoration: none;
}

.menüLink:hover {
    color: white;
    font-size: large;
    transition: 150ms;
    text-decoration: none;
}

.menüSosyalMedya {
    height: 45px;
    display: flex;
    align-items: flex-end;
}

.menüSosyalMedyaLink {
    color: red;
}

.menüSosyalMedyaLink:hover {
    color: black;
    transition: 600ms;
}



.jumbotron1 {
    background-image: url(img/kale.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;

}

.jumbotron2 {
    background-image: url(img/hisar2.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;

}

.jumbotron3 {
    background-image: url(img/hisar3.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;

}

.jumbotron4 {
    background-image: url(img/hisar4.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;

}

.jumbotron5 {
    background-image: url(img/hisar5.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;

}

@media screen and (max-width: 768px) {
    .hakkımdaBilgiler2 {
        flex-direction: column;
    }

    .divHakkımda {
        flex-direction: column;
    }

    .hakkımdaİmg {
        align-self: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .menü {
        display: none;
    }
}